@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
}
.radial-gradient-pri {
  background: rgb(235,165,115);
background: radial-gradient(circle, rgba(235,165,115,0.29735644257703087) 8%, rgba(255,255,255,0) 65%);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: theme('colors.gray.500');
  border-radius: 999px;
}